html {

    margin: 2.5%;
    background-image: linear-gradient(rgb(253, 214, 169), antiquewhite);
    
}

body {

    margin-left: auto; margin-right: auto;
    width: 90%;
    max-width: 1200px;
}

.honey1 {

    float: right;
    margin: 0 0 0 1rem;
}

.honey2 {

    float: right;
    margin: 2%;
    width: 42%;
    height: 10%;
    border: 2px outset #a3781a;

}



h1 {

    font-size: 60px;
    font-family: 'Permanent Marker', cursive;
}

h2 {

    font-family: 'Permanent Marker', cursive;

}


p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

li {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.box-with-text {

    background-color: rgba(199, 76, 23, 0.664);
    padding: 2rem;
    border: 2px outset #a3781a;
    width: 65%;
    box-sizing: border-box;
    float: right;
    margin: 0 0 0 3rem;
    font-family: 'Permanent Marker', cursive;
    display: flex;
    font-size: 20px;
    
    
}
.nutrition-box {
background-color: rgba(199, 76, 23, 0.527);
    padding: 2rem;
    border: 2px solid #a3781a;
    width: 60%;
    box-sizing: border-box;
    float: right;
    margin: 4rem 0 0rem 4rem;
    font-family: 'Permanent Marker', cursive;
    display: flex;
    font-size: 15px;

}

img {
    border: 2px outset #d19f33;
}

div > div {

    padding: 20px;
   

}

ol {
    line-height: 40px;
}

label {

    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    line-height: 35px;
}

em {

    text-shadow: 0.5px 0.5px #6e4b0a;
    font-family: 'Permanent Marker', cursive;
}

@media (min-width: 600px) {
    h1 {
        font-size: 60px;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 20px;
    }
}

@media (min-width: 200px) {
    .box-with-text {
        width: 50%;
    }
}

@media (min-width: 640px) {
.box-with-text {
    width: 70%;
    }
}


@media (min-width: 200px) {
    .nutrition-box {
        width: 40%;
    }
}

@media (min-width: 640px) {
.nutrition-box {
    width: 65%;
    }
}